.error-text.stick-middle {
  position: absolute;
  font-size: 30vw;
  line-height: calc(100vh - 75px);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-weight: 900;
  color: #f8f9fa;
  text-shadow: 1px 1px 1px;
  background-color: #000 !important;
  background: url("../../assets/whiteboard.svg") #fff center no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 68vw;
}
