section#about {
  img.avatar-image {
    width: 10vw;
    border-radius: 100%;
    min-width: 150px;
    max-height: 150px;
    margin-right: 3rem;
  }

  .copy-body {
    align-items: center;
  }

  .copy-body a {
    margin-right: 1rem;
    // overwrites bootstrap style
    border-radius: 0.25rem !important;

    i {
      margin-right: 0.5em;
    }
  }

  .resume-item {
    margin-bottom: 2em;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1em;
  }

  .skills {
    #wordSearch {
      border: 4px solid #f7f7f7;
      border-radius: 6px;
      padding: 1rem;

      span.character-holder {
        letter-spacing: 0.5em;
        font-size: 1.7em;
        writing-mode: vertical-lr;
        text-orientation: upright;
        user-select:none;
        text-transform: uppercase;
      }
    }
  }
}

.career-path.col-11.col-md-6.offset-md-1:before {
  content: "";
  height: 100%;
  width: 2px;
  display: block;
  position: absolute;
  left: -4rem;
  background-color: #000;
}

.resume-item:before {
  content: " ";
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: -4.95rem;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #000;
}

.resume-item.past:before {
  background: #fff;
  border: 5px solid #000;
}
