.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 100;
  justify-content: safe;

  .navbar-brand {
    justify-self: flex-start;

    #brandLogo {
      margin: 0 0.5em 0 0;
    }
  }

&.navbar-dark{
  background-color:#393e46 !important;
  color:#fff;
}

  .search-titles {
    justify-self: flex-end;
  }

  .nav {
    justify-self: flex-end;

    a.nav-link {
      cursor: pointer;

      &.active {
        color: black;
        border-bottom: 1px solid;
      }

      &:hover {
        cursor: pointer;
      }
    }

    * {}
  }
}
