<nav class="navbar navbar-dark bg-light frosted">
  <a class="navbar-brand" href="#">
    <img id="brandLogo" src="../../../assets/logo-white.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <div id="siteName" class="d-inline-block">
      Spencer Dixon's Portfolio
    </div>
  </a>
  <div class="nav">
    <a class="nav-link text-primary" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
    <a class="nav-link text-primary" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
    <a class="nav-link text-primary" [routerLink]="['/work']" [routerLinkActive]="['active']">Work</a>
  </div>
</nav>
<router-outlet></router-outlet>
