<section id="contact">
  <div class="copy row flex">
    <div class="copy-body col-10 col-md-6">
      <h1>I'm available</h1>
      <p>Let me know if you find yourself needing:</p>
      <ul>
        <li class="text-info">A dog sitter</li>
        <li>Movie recommendations</li>
        <li class="text-info">UX help</li>
        <li>Pro deals</li>
        <li>A friend</li>
        <li class="text-info">A website</li>
        <li class="text-info">A cheap logo</li>
        <li>Someone to talk to about Game of Thrones</li>
        <li class="text-info">UI feedback</li>
        <li>Speculative information about the next iPhone</li>
      </ul>
    </div>
  </div>
  <div class="app-locations col-12 col-md-8">
    <a class="squircle"></a>
    <a class="squircle"></a>
    <a class="squircle"></a>
    <a class="squircle"></a>
    <a class="squircle"></a>
  </div>
</section>
