section#contact {
  ul {
    columns: 2;
    padding-left: 1.2em;

    li {
      width: max-content;
    }
  }

  .app-locations {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: safe;
    align-items: center;

    .squircle {
      margin-bottom:1rem;
      i {
        color: #2b7794;
        font-size: 3em;
        align-self: center;
        justify-content: center;
        margin: 0 auto;
        text-decoration:none;
        &:hover{text-decoration:none;}
      }
        &:hover{text-decoration:none;}
    }
  }
}
@media screen and (orientation:portrait) {
  ul {
    columns: 1 !important;

    li {
      width: initial !important;
    }
  }
}
