<section id="work">
  <div class="copy row flex" id="welcome">
    <div class="copy-body col-10 col-md-6">
      <h1>Oh, hi.</h1>
      <p>
        Welcome to my portfolio site and thank you for taking the time to investigate me, beyond my resumé. I made this website to display and clearly communicate my worth as a designer. If you hate it – that's fine – I'll have redesigned it before
        the new year.
      </p>
      <p class="text-info">
        Keep scrolling to check out some of my neat work.
      </p>
    </div>
  </div>
</section>
<section class="projects row flex no-gutters">
  <app-project class="col-6 col-md-3 p-3"></app-project>
  </section>
