@import '../../mixins.scss';

div#storyline-navigation-header {
  display: none;
}

section#details {
  background-image: url("../../assets/dot-light.png");
  background-size: 15px;
  min-height: calc(100vh - 58px);
}

section#details {
  .breadcrumb {
    border-radius: 0;
    background-color: #242a31;

    li {
      color: #eee !important;
      opacity: 0.5;

      &.work-link {
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }

        *:hover {
          cursor: pointer;
        }
      }

      * {
        color: #eee !important;
        text-decoration: none;
      }
    }
  }

  .intro.container {
    .row.flex {
      align-items: center;

      .preview-holder {
        display: flex;
        align-items: center;
        justify-content: center;

        iframe#iframePreview {
          border: 15px solid rgba(0,0,0,0.3);
          border-radius: 1.2rem;
          min-height: 600px;
          min-width: 360px;
          background-color: rgba(0,0,0,0.5);

          &.skewed {
            transform: skew(0deg, 0deg) scale(0.35) translateX(20vw);
            min-height: 1080px;
            min-width: 1920px;
            position: absolute;
            box-shadow: 20px -6px 20px 0 #1b2025;
            border: 20px solid rgba(0, 0, 0, 0.4);
            border-radius: 1.3rem;
          }

          div#storyline-navigation-header {
            display: none !important;
          }
        }
      }
    }
  }

  .process {
    position: relative;
    // .bg-grid {
    //   background-image: url("../../assets/dot.png");
    //   filter:invert(1) !important;
    //   opacity:0.1;
    //   background-size: 15px;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    // }
  }

  .stats.dark-mode {
    background-color: #001f27;
  }

  .stats {
    ul.stats-list {
      columns: 3;
      list-style-type: none;
    }

    > * {
      opacity: 0.5;
    }
  }
}
/* ACCORDIONS ___________________________________________________________________________ */
.accordion:last-of-type {
  margin-bottom: 2rem;
}

.accordion-label {
  font-size: 1.2rem;

  .fa-bb {
    @include transition(transform 0.20s ease-in-out);
    @include rotate(225deg);
    font-size: 110%;
  }
}

.closed {
  .accordion-label {
    .fa-bb {
      @include transform(none);
    }
  }
}

.accordion-text {
  transition: all 1.0s ease 0s;
  -webkit-transition: all 1.0s ease 0s;
  transition-delay: 0.25s;
  overflow: hidden;
  cursor: auto;
  height: auto;
  max-height: 300px;
  margin: 0;
  padding: 0;
}

.closed .accordion-text {
  max-height: 0;
  transition: all 0.65s ease 0s;
  -webkit-transition: all 0.65s ease 0s;
  transition-delay: 0s;
}

.accordion-label {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.65s ease 0s;
  -webkit-transition: all 1.0s ease 0s;
}

.accordion-label:hover {
  color: darken(#999, 10%);
  cursor: pointer;
}

.closed .accordion-label {
  color: #999;
}

.closed .accordion-text .accordion-text-inner p {
  opacity: 0;
  transition: all 0.65s ease 0s;
  transition-delay: 0s;
}
/* X: ACCORDIONS ___________________________________________________________________________ */
// Accordion

.accordion-text .accordion-text-inner p {
  padding: 7px 24px 10px;
  margin: 0;
  font-size: 0.9em;
  -webkit-transition: all 0.65s ease 0s;
  transition: all 0.65s ease 0s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 1;
}

.accordion-text-inner p {
  border-left: 2px solid #c6c6c6;
  margin-left: 14px !important;
}

.accordion-label {
  font-weight: 600;
}

.accordion-label:hover {
  color: white;
}
/* Pluses to X's */
.accordion:not(.closed) i.fa-plus {
  transform: rotate(135deg);
  color: darkred;
}

i.fa-plus {
  padding: 0;
  margin-right: 0.5em;
  margin-left: -0.5rem;
  color: #4ecca3;
}
