@import '../../mixins.scss';
section#details {
  .breadcrumb {
    border-radius: 0;
  }

  .intro.container {
    .row.flex {
      align-items: center;

      .preview-holder {
        display: flex;
        align-items: center;
        justify-content: center;

        iframe#iframePreview {
          border: 15px solid #001f26;
          border-radius: 1.2rem;
          min-height: 600px;
          min-width: 360px;
        }
      }
    }
  }

  .process {
    position: relative;

    .bg-grid {
      background-image: url("../../assets/dot.png");
      background-size: 15px;
      filter: opacity(0.2);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .stats.dark-mode {
    background-color: #001f27;
  }

  .stats {
    ul.stats-list {
      columns: 3;
      list-style-type: none;
    }

    > * {
      opacity: 0.5;
    }
  }
}

/* ACCORDIONS ___________________________________________________________________________ */

.accordion-label {

  .fa-bb {
    @include transition(transform .20s ease-in-out);
    @include rotate(90deg);

    font-size: 110%;
    padding: 0.5rem;
  }
}

.closed {
  .accordion-label {
    .fa-bb {
      @include transform(none);
    }
  }
}

.accordion-text {
  transition: all 1.0s ease 0s;
  -webkit-transition: all 1.0s ease 0s;
  transition-delay: 0.25s;
  overflow: hidden;
    cursor: auto;
    height: auto;
  max-height: 300px;
  margin: 0px;
  padding: 0px;
}
.closed .accordion-text {
  max-height: 0px;
  transition: all 0.65s ease 0s;
  -webkit-transition: all 0.65s ease 0s;
  transition-delay: 0s;
}
.accordion-label {
  display: inline-flex;
  align-items: center;
  color: #000;
  padding: 5px 10px;
  transition: all 0.65s ease 0s;
  -webkit-transition: all 1.0s ease 0s;
}
.accordion-label:hover {
  color: #000;
  cursor:pointer;
}
.closed .accordion-label {
  color: #999;
}
.accordion-text .accordion-text-inner p {
  padding: 5px 15px 15px;
  margin: 0px;
  font-size: 0.9em;
  transition: all 0.65s ease 0s;
  transition-delay: 0.4s;
  opacity: 1;
}
.closed .accordion-text .accordion-text-inner p {
  opacity: 0;
  transition: all 0.65s ease 0s;
  transition-delay: 0s;
}


/* X: ACCORDIONS ___________________________________________________________________________ */

// Accordion
.accordion-text .accordion-text-inner p {
    padding: 5px 15px 15px;
    margin: 0px;
    font-size: 0.9em;
    -webkit-transition: all 0.65s ease 0s;
    transition: all 0.65s ease 0s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    opacity: 1;
}
.accordion-text-inner p {
    border-left: 1px solid #c6c6c6;
    margin-left: 14px !important;
}

.accordion-label {
  font-weight: 600;
}

.accordion-label:hover {
  color: white;
}

/* Pluses to X's */
.accordion:not(.closed) i.fa-plus {
  transform: rotate(135deg);
  color: darkred;
}

i.fa-plus {
  padding: 0;
  margin-right: 0.5em;
  margin-left: -0.5rem;
  color: #8a9c04;
}
