/* You can add global styles to this file, and also import other style files */
@import 'mixins.scss';

.h1,
h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

a {
  &:hover {
    cursor: pointer !important;
  }
}

.copy.row.flex {
  padding: 6em 0;

  .copy-body {
    margin: 0 auto;
  }
}
// DARK MODE (messy)

nav.navbar.dark-mode {
  background-color: #232931 !important;

  * {
    color: #eeeeee;
  }

  .text-info {
    color: #4ecca3 !important;
  }

  a.text-info:focus,
  a.text-info:hover {
    color: darken(#4ecca3, 20%) !important;
  }
}

body.dark-mode {
  background-color: #232931;
  color: #eeeeee !important;

  &::selection {
    background: #073642 !important;
  }

  .text-info {
    color: #4ecca3 !important;
  }

  a.text-info:focus,
  a.text-info:hover {
    color: darken(#4ecca3, 20%) !important;
  }

  .btn.btn-primary {
    background-color: #ff6c00;
    border-color: #ff6c00;

    &:hover {
      background-color: darken(#ff6c00, 20%) !important;
    }

    &.focus,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 108, 0, 0.4);
    }
  }

  .text-primary {
    color: #ff8f00!important;

    &a {
      &:hover {
        color: darken(#ff8f00, 20%) !important;
      }
    }
  }
}
